.icon_plus {
    font-weight: bold;
    font-size: 15px;
    float: right;
    border: 1px solid;
    cursor: pointer;
}

.eraser {
    font-weight: bold;
    font-size: 15px;
    color: red;
    border: none; 
    float: right;
    font-family: cursive;
    cursor: pointer;
}

/* Classe Show */
 .show{
     display: block;
 }
 .hidden{
     display: none;
 }
/* Classe Show */

/* Arrow */
.arrow_box{
    border-top: 1px solid #ccc;
    padding: 5px;
    width: 525px;
    display: inline-block;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 15px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  /* Arrow */